{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="container">
        <h2>Add category</h2>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="textarea">{{ form_label(form.name) }}</label><br>
                    {{ form_widget(form.name) }}
                </div>
                <button type="submit">Save</button>
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}